<div class="converter__container">
    <div class="converter__content">
        <!-- <div class="converter-main-block row row-cols-2">        
        </div> -->
        <div class="currency__content">
            <div class="selector_el">
                <div class="content-container">
                    <select class="form-select">
                        <option value="1">EUR</option>
                        <option value="2">USD</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
