<div class="converter-container">
    <div class="converter-content">
        <!-- <div class="converter-main-block row row-cols-2">        
        </div> -->
        <div class="currency-content">
            <form class="converter-form" [formGroup]="converterFields.controls.firstCurrency">
                <div class="content-container">
                    <div class="converter-form__currency-selector">
                        <mat-form-field class="currency-input">
                            <input
                            matInput
                            type="text"
                            aria-label="Currency"
                            placeholder="Currency"
                            [formControl]="converterFields.controls.firstCurrency.controls.name"
                            [matAutocomplete]="auto1">
                            <mat-autocomplete #auto1="matAutocomplete">
                                @for (currency of firstFilteredCurrenies | async; track currency) {
                                    <mat-option [value]="currency.name">{{currency.name}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>    
                    </div>
                    <div class="converter-form__rate-input ">
                        <mat-form-field class="currency-input">
                            <input
                                matInput
                                inputmode="numeric"
                                type="number"
                                [formControl]="converterFields.controls.firstCurrency.controls.rate">
                        </mat-form-field>
                    </div>
                </div>                
            </form>
        </div>

        <img src="/assets/images/exchange-icon.svg" class="exhange-icon">

        <div class="currency-content">
            <form class="converter-form" [formGroup]="converterFields.controls.secondCurrency">
                <div class="content-container">
                    <div class="converter-form__currency-selector">
                        <mat-form-field class="currency-input">
                            <input
                            matInput
                            type="text"
                            aria-label="Currency"
                            placeholder="Currency"
                            [formControl]="converterFields.controls.secondCurrency.controls.name"
                            [matAutocomplete]="auto2">
                            <mat-autocomplete #auto2="matAutocomplete">
                                @for (currency of secondFilteredCurrencies | async; track currency) {
                                    <mat-option [value]="currency.name">{{currency.name}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>    
                    </div>
                    <div class="converter-form__rate-input ">
                        <mat-form-field class="currency-input">
                            <input
                                matInput
                                inputmode="numeric"
                                type="number"
                                [formControl]="converterFields.controls.secondCurrency.controls.rate">
                        </mat-form-field>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>
